@import "tailwindcss";

@import "nes.css/css/nes.min.css";

html, body, pre, code, kbd, samp, button {
    font-family: "PressStart2P", system-ui;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
